﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Система управления проектами</h3>
    <div class="row">
        <div class="col align-content-center" style="padding-top: 65px">
            <h5>Работайте над большими идеями без лишней суеты.</h5>
            <p></p>
            Переходите на качественно новый уровень работы - все, что нужно для эффективной работы, теперь в одном месте.
        </div>
        <div class="col">
            <img src="img/photo1645023498.jpeg" style="height: 250px; width:450px" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="img/photo1645023506.jpeg" style="height: 250px; width:450px" />
        </div>
        <div class="col" style="padding-top: 65px">
            <h5>Управляйте своим рабочим временем самостоятельно</h5>
            <p></p>
            Воспользуйтесь возможностью работать тогда, когда вам удобно, где вы чувствуете себя комфортно, а также в таком темпе, который обеспечивает наибольшую производительность.
        </div>
    </div>
    <div class="row">
        <div class="col" style="padding-top: 65px">
            <h5>Прочные связи и высокая организация</h5>
            <p></p>
            Организуйте работу своей команды в общем пространстве. Выберите тип проекта, который подходит именно вам, и работайте вместе, где бы вы ни находились.
        </div>
        <div class="col">
            <img src="img/photo1645023540.jpeg" style="height: 250px; width:450px" />
        </div>
    </div>
    <div class="row" style="padding-top: 20px">
        <div class="col">
            <div class="bg-info align-items-center" style="display: block; margin-left: auto; margin-right: auto;color: white; padding-top: 10px; height: 45px; width:45px; border-top-left-radius:50px; border-top-right-radius: 50px; border-bottom-left-radius:50px;border-bottom-right-radius:50px;">
                1
            </div>
            <div style="padding-top: 20px">
                <h5>Авторизируйтесь</h5>
            </div>
            <div style="padding-top: 20px">
                Создайте рабочее пространство за считанные секунды. Вы можете попробовать совершенно бесплатно, и номер команды не важен.
            </div>
        </div>
        <div class="col">
            <div>
                <div class="bg-info" style="display: block; margin-left: auto; margin-right: auto; color: white; padding-top: 10px; height: 45px; width:45px; border-top-left-radius:50px; border-top-right-radius: 50px; border-bottom-left-radius:50px;border-bottom-right-radius:50px;">2</div>
            </div>
            <div style="padding-top: 20px">
                <h5>Пригласите коллег</h5>
            </div>
            <div style="padding-top: 20px">
                Developer Logs отличный инструмент для совместной работы (можно, конечно, попробовать работать в одиночку, но это скучно), а пригласить коллег не составит труда
            </div>
        </div>
        <div class="col">
            <div>
                <div class="bg-info" style="display: block; margin-left: auto; margin-right: auto; color: white; padding-top: 10px; height: 45px; width:45px; border-top-left-radius:50px; border-top-right-radius: 50px; border-bottom-left-radius:50px;border-bottom-right-radius:50px;">3</div>
            </div>
            <div style="padding-top: 20px">
                <h5>Пробуйте</h5>
            </div>
            <div style="padding-top: 20px">
                Запускайте проект, координируйте работу своей команды или просто организуйте обсуждение. Developer Logs — это своего рода чистый холст для командной работы.
            </div>
        </div>
    </div>
</div>

