﻿@using DevLogs.Core.Entities
@model Project;

<div class="container">
    <h1 class="" style="text-align: center">Создать новый проект</h1>
    <form method="post" asp-action="AddProject" asp-controller="Project">
        <div>
            <div>
                <label class="lead" asp-for="Name">Name</label>
                <input class="form-control" type="text" asp-for="Name" placeholder="Пример: Международный магазин сладостей"/>
                <span asp-validation-for="Name" />
            </div>
            <div>
                <label class="lead" asp-for="ShortName">Short name</label>
                <input class="form-control" type="text" asp-for="ShortName" placeholder="Пример: ММС"/>
                <span asp-validation-for="ShortName" />
            </div>
            <div>
                <label class="lead" asp-for="Description">Description</label>
                <input class="form-control" type="text" asp-for="Description" placeholder="Пример: Это интернет портал для торговли разными сладостями. Пользователь должен иметь возможность сделать заказ и удобные опции для создания заказа"/>
                <span asp-validation-for="Description" />
            </div>
            <div>
                <label class="lead" asp-for="Customer">Заказчик</label>
                <input class="form-control" type="text" asp-for="Customer" placeholder="Пример: M&Ms"/>
                <span asp-validation-for="Customer" />
            </div>
            <div>
                <label class="lead" asp-for="StartDate">Дата начала</label>
                <input class="form-control" type="text" asp-for="StartDate" placeholder="Пример: 31.12.2002"/>
                <span asp-validation-for="StartDate" />
            </div>
            <div>
                <label class="lead" asp-for="FinaleDate">Дата окончания</label>
                <input class="form-control" type="text" asp-for="FinaleDate" placeholder="Пример: 31.01.2022"/>
                <span asp-validation-for="FinaleDate" />
            </div>
        </div>
        <div>
            <p></p>
            <input class="btn btn-outline-info" type="submit" value="Создать"/>
        </div>
    </form>
</div>