﻿@using DevLogs.UI.Models.ViewModels
@model AddUserToProject;

<h1 style="text-align: center">Добавить пользователя на проект</h1>

<form method="post" asp-action="AddUserToProject" asp-controller="Project">
    <div>
        <select name="userId" class="custom-select">
            @foreach (var user in Model.Users)
            {
                <option value="@user.Id">
                    @user.UserName
                </option>
            }
        </select>
        <input type="hidden" name="projectId" value="@Model.ProjectId" />
    </div>
    <p></p>
    <div>
        <input type="submit" value="Добавить" class="btn btn-outline-info" />
    </div>
</form>