﻿@using DevLogs.Core.Entities
@model List<Project>

<div class="container text-center" style="display: block; margin-left: auto; margin-right: auto;">
    <form method="get" class="input-group mb-3" style="margin-left:auto;margin-right:0">
        <input class="form-control" name="projectName" type="search" placeholder="Поиск проекта...">
        <input type="submit" class="btn btn-outline-info" />
    </form>
    <h1 style="text-align: center">Мои проекты</h1>

        @foreach (var project in Model)
        {
            <div class="custom-control-inline" style="padding-top:5px;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">@project.ShortName</h5>
                        </div>
                        <form method="get" asp-action="ProjectMenu" asp-controller="Project">
                            <input type="hidden" name="@nameof(project.Id)" value="@project.Id" />
                            <input class="btn btn-outline-info" type="submit" value="Меню проекта">
                        </form>
                    </div>
                </div>
            </div>
        }
    <div class="container" style="padding-top:200px">
        <form method="get" asp-action="AddProject" asp-controller="Project">
            Не видете нужный проект? Вы можете <strong><a asp-area="" asp-action="AddProject" asp-controller="Project">отправить сообщение</a></strong> администратору.
            Вы можете <strong><a asp-area="" asp-action="AddProject" asp-controller="Project">создать новый проект</a></strong>, если ваша роль "Проектный менеджер".
        </form>
    </div>
</div>
