﻿@using DevLogs.Core.Entities
@model List<ApplicationUser>

<div class="container">
    <h1 style="text-align: center">Работники</h1>
    <p></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Кодовое имя
                </th>
                <th>
                    Почта
                </th>
                <th>
                    Обновление
                </th>
            </tr>
        </thead>
        @foreach (var user in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @user.UserName
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @if (Context.Request.Cookies["secur-lvl"] != "Low")
                        {
                            <form method="post" asp-action="DeleteUserFromProject" asp-controller="Project">
                                <input type="hidden" name="userId" value="@user.Id" />
                                <input type="hidden" name="projectId" value="@ViewBag.Id" />
                                <input class="btn btn-outline-danger" type="submit" value="Снять с проекта" />
                            </form>
                        }
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>
