﻿@using DevLogs.Core.Entities
@model Project

<div class="container">
    <h1 class="text-center">@Model.ShortName</h1>
    <div>
        <div class="custom-control-inline">
            <form method="get" asp-action="Tasks" asp-controller="Task">
                <input type="hidden" name="id" value="@Model.Id" />
                <input class="btn btn-outline-info" type="submit" value="Задания" />
            </form>
            @if(Context.Request.Cookies["secur-lvl"] != "Low")
            {
            <form method="get" asp-action="AddUserToProject" asp-controller="Project">
                <input type="hidden" name="id" value="@Model.Id" />
                <input class="btn btn-outline-info" type="submit" value="Добавить работника" />
            </form>
            }
            <form method="get" asp-action="ProjectUsers" asp-controller="Project">
                <input type="hidden" name="id" value="@Model.Id" />
                <input class="btn btn-outline-info" type="submit" value="Работники" />
            </form>
            @if(Context.Request.Cookies["secur-lvl"] != "Low")
            {
            <form method="get" asp-action="CreateDocReport" asp-controller="Document">
                <input type="hidden" name="projectId" value="@Model.Id" />
                <input class="btn btn-outline-info" type="submit" value="Отчет" />
            </form>
            }
        </div>
        <div>
            <label class="lead custom-control-inline"><strong>Название:</strong></label><p class="text-xl-left custom-control-inline"> @Model.Name</p>
        </div>
        <div>
            <label class="lead"><strong>Описание:</strong> </label><p class="text-xl-left"> @Model.Description</p>
        </div>
    </div>
</div>