﻿@using DevLogs.Core.Entities
@model Project;

<div class="container">
    <form method="post" asp-action="UpdateProject" asp-controller="Project">
        <div>
            <div>
                <label class="lead" asp-for="Name">Name</label>
                <input class="form-control" type="text" asp-for="Name" value="@Model.Name" placeholder="Пример: Международный магазин сладостей" />
                <span asp-validation-for="Name" />
            </div>
            <div>
                <label class="lead" asp-for="ShortName">Short name</label>
                <input class="form-control" type="text" asp-for="ShortName" value="@Model.ShortName" placeholder="Пример: ММС" />
                <span asp-validation-for="ShortName" />
            </div>
            <div>
                <label class="lead" asp-for="Description">Description</label>
                <input class="form-control" type="text" asp-for="Description" value="@Model.Description" placeholder="Пример: Это интернет портал для торговли разными сладостями. Пользователь должен иметь возможность сделать заказ и удобные опции для создания заказа" />
                <span asp-validation-for="Description" />
            </div>
            <div>
                <label class="lead" asp-for="Customer">Заказчик</label>
                <input class="form-control" type="text" asp-for="Customer" value="@Model.Customer" placeholder="Пример: M&Ms" />
                <span asp-validation-for="Customer" />
            </div>
            <div>
                <label class="lead" asp-for="Status">Статус</label>
                <select asp-for="Status" class="custom-select">
                    <option value="В разработке">
                        В разработке
                    </option>
                    <option value="В архиве">
                        В архиве
                    </option>
                </select>
            </div>
            <div>
                <label class="lead" asp-for="StartDate">Дата начала</label>
                <input class="form-control" type="text" asp-for="ShortName" value="@Model.ShortName" placeholder="Пример: 31.12.2002" />
                <span asp-validation-for="StartDate" />
            </div>
            <div>
                <label class="lead" asp-for="FinaleDate">Дата окончания</label>
                <input class="form-control" type="text" asp-for="FinaleDate" value="@Model.FinaleDate" placeholder="Пример: 31.01.2022" />
                <span asp-validation-for="FinaleDate" />
            </div>
        </div>
        <div>
            <p></p>
            <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
            <input type="hidden" name="@nameof(Model.InArchive)" value="@Model.InArchive" />
            <input type="hidden" name="@nameof(Model.IsOverdue)" value="@Model.IsOverdue" />
            <input class="btn btn-outline-info" type="submit" />
        </div>
    </form>
</div>