﻿@using DevLogs.Core.Entities
@model SecurRole

<h1 style="text-align: center">Добавить новую роль</h1>
<form method="post" asp-action="AddRole" asp-controller="Admin">
    <div>
        <div>
            <label class="lead" asp-for="UserRole">Роль пользователя: </label>
            <input class="form-control" type="text" asp-for="UserRole" placeholder="Пример: Middle .NET Developer"/>
            <span asp-validation-for="UserRole"/>
        </div>
        <div>
            <label class="lead" asp-for="UserRole">Роль пользователя: </label>
            <select asp-for="SecurLevel" class="custom-select">
                <option>Low</option>
                <option>Middle</option>
                <option>High</option>
                <option>Special</option>
            </select>
        </div>
    </div>
    <div>
        <p></p>
        <input class="btn btn-outline-info" type="submit" value="Добавить"/>
    </div>
</form>