﻿@using DevLogs.UI.Controllers
@model AddUserToTask

<h1 style="text-align: center">Назначить пользователя на задачу</h1>

<form method="post" asp-action="AddUserToTask" asp-controller="Admin">
    <div>
        <select name="userId" class="custom-select">
            @foreach (var user in Model.Users)
            {
                <option value="@user.Id">
                    @user.UserName
                </option>
            }
        </select>
    </div>
    <p></p>
    <div>
        <input type="hidden" name="taskId" value="@Model.taskId" />
        <input type="submit" value="Добавить" class="btn btn-outline-info" />
    </div>
</form>