﻿@using DevLogs.Core.Entities
@model List<Project>

    <h1 style="text-align: center">Администрирование проектов</h1>
<div class="container">
    <div class="custom-control-inline">
        <form method="get" asp-action="AddProject" asp-controller="Project">
            <input class="btn btn-outline-info" type="submit" value="Создать" />
        </form>
        <form method="get" asp-action="Archive" asp-controller="Admin">
            <input class="btn btn-outline-info" type="submit" value="Архив" />
        </form>
    </div>
    <p></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Заказчик
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Обновление
                </th>
                <th>
                    Удаление
                </th>
            </tr>
        </thead>
        @foreach (var project in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @project.ShortName
                    </td>
                    <td>
                        @project.Customer
                    </td>
                    <td>
                        @project.Description
                    </td>
                    <td>
                        <form method="get" asp-action="UpdateProjectAdmin" asp-controller="Admin">
                            <input type="hidden" name="projectId" value="@project.Id" />
                            <input class="btn btn-outline-warning" type="submit" value="Обновить" />
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-action="DeleteProject" asp-controller="Admin">
                            <input type="hidden" name="id" value="@project.Id" />
                            <input class="btn btn-outline-danger" type="submit" value="Удалить" />
                        </form>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>