﻿@using DevLogs.Core.Entities
@model List<Document>

    <h1 style="text-align: center">Администрирование документов</h1>
<div class="container" style="padding-top: 35px">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Имя файла
                </th>
                <th>
                    Навзвание проекта
                </th>
                <th>
                    Удаление
                </th>
            </tr>
        </thead>
        @foreach (var doc in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @doc.Name
                    </td>
                    <td>
                        @doc.Project.Name
                    </td>
                    <td>
                        <form method="post" asp-action="DeleteDocument" asp-controller="Document">
                            <input type="hidden" name="documentId" value="@doc.Id" />
                            <input class="btn btn-outline-danger" type="submit" value="Удалить" />
                        </form>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>