﻿@using DevLogs.Core.Entities
@model List<ApplicationUser>

<div class="container">
    <h1 style="text-align: center">Администрирование пользователей</h1>
    <div class="custom-control-inline" style="padding-top: 35px">
        <form method="get" asp-action="Register" asp-controller="Auth">
            <input class="btn btn-outline-info" type="submit" value="Создать нового пользователя" />
        </form>
    </div>
    <p></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Кодовое имя
                </th>
                <th>
                    Почта
                </th>
                <th>
                    Обновление
                </th>
                <th>
                    Удаление
                </th>
            </tr>
        </thead>
        @foreach (var user in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @user.UserName
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        <form method="get" asp-action="UpdateUser" asp-controller="Admin">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <input class="btn btn-outline-warning" type="submit" value="Обновить" />
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-action="DeleteUser" asp-controller="Admin">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <input class="btn btn-outline-danger" type="submit" value="Удалить" />
                        </form>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>
