﻿@using DevLogs.Core.Entities
@model List<SecurRole>

    <h1 style="text-align: center">Администрирование ролей</h1>
<div class="container">
    <div class="custom-control-inline">
        <form method="get" asp-action="AddRole" asp-controller="Admin">
            <input class="btn btn-outline-info" type="submit" value="Создать" />
        </form>
    </div>
    <p></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Роль
                </th>
                <th>
                    Уровень доступа
                </th>
                <th>
                    Обновление
                </th>
                <th>
                    Удаление
                </th>
            </tr>
        </thead>
        @foreach (var role in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @role.UserRole
                    </td>
                    <td>
                        @role.SecurLevel
                    </td>
                    <td>
                        <form method="get" asp-action="UpdateRole" asp-controller="Admin">
                            <input type="hidden" name="id" value="@role.Id" />
                            <input class="btn btn-outline-warning" type="submit" value="Обновить" />
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-action="DeleteRole" asp-controller="Admin">
                            <input type="hidden" name="id" value="@role.Id" />
                            <input class="btn btn-outline-danger" type="submit" value="Удалить" />
                        </form>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>