﻿@using DevLogs.Core.Entities
@model List<TaskEntity>


<h1 style="text-align: center">Администрирование задач</h1>
<form method="get" asp-action="CreateTaskReport" asp-controller="Document">
    <input class="btn btn-outline-info" type="submit" value="Отчет о просроченных задачах"/>
</form>
<div style="padding-top:35px">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Обновить
                </th>
                <th>
                    Готово
                </th>
                <th scope="col">
                    Работники
                </th>
            </tr>
        </thead>
        @foreach (var task in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @task.Name
                    </td>
                    <td>
                        @task.Description
                    </td>
                    <td>
                        <form method="get" asp-action="AdminUpdateTask" asp-controller="Admin">
                            <input type="hidden" name="taskId" value="@task.Id" />
                            <input class="btn btn-outline-warning" type="submit" value="Обновить" />
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-action="DeleteTask" asp-controller="Admin">
                            <input type="hidden" name="taskId" value="@task.Id" />
                            <input class="btn btn-outline-info" type="submit" value="Закрыть" />
                        </form>
                    </td>
                    <td>
                        <form method="get" asp-action="AddUserToTask" asp-controller="Admin">
                            <input type="hidden" name="taskId" value="@task.Id" />
                            <input type="hidden" name="projectId" value="@ViewBag.Id" />
                            <input class="btn btn-outline-warning" type="submit" value="Назначить" />
                        </form>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>