﻿@using DevLogs.Core.Entities
@model List<Project>

<h1 style="text-align: center"> Архив</h1>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Заказчик
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Обновление
                </th>
                <th>
                    Разархивация
                </th>
                <th>
                    Удаление
                </th>
            </tr>
        </thead>
        @foreach (var project in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @project.ShortName
                    </td>
                    <td>
                        @project.Customer
                    </td>
                    <td>
                        @project.Description
                    </td>
                    <td>
                        <form method="get" asp-action="UpdateProjectAdmin" asp-controller="Admin">
                            <input type="hidden" name="projectId" value="@project.Id" />
                            <input class="btn btn-outline-warning" type="submit" value="Обновить" />
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-action="DeleteFromArchive" asp-controller="Admin">
                            <input type="hidden" name="id" value="@project.Id" />
                            <input class="btn btn-outline-warning" type="submit" value="Разархивировать" />
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-action="DeleteProject" asp-controller="Admin">
                            <input type="hidden" name="id" value="@project.Id" />
                            <input class="btn btn-outline-danger" type="submit" value="Удалить" />
                        </form>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>
