﻿@using DevLogs.UI.Models.ViewModels
@model RoleViewModel

<div class="container">
    <h1 style="text-align: center">Обновление роли</h1>
    <form method="post" asp-action="UpdateRole" asp-controller="Admin">
        <div>
            <div>
                <label class="lead" asp-for="UserRole">Роль пользователя: </label>
                <input class="form-control" type="text" asp-for="UserRole" value="@Model.UserRole" placeholder="Пример: Middle .NET Developer" />
                <span asp-validation-for="UserRole" />
            </div>
            <div>
                <label class="lead" asp-for="UserRole">Роль пользователя: </label>
                <select asp-for="SecurLevel" class="custom-select">
                    <option>Low</option>
                    <option>Middle</option>
                    <option>High</option>
                    <option>Special</option>
                </select>
            </div>
        </div>
        <div>
            <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id"/>
            <input class="btn btn-outline-info" type="submit" value="Обновить"/>
        </div>
    </form>
</div>
