﻿@model UpdateUser

<div class="container">
    <h1 style="text-align: center">Обновление пользователя</h1>
    <form method="post" asp-action="UpdateUser" asp-controller="Admin" asp-antiforgery="true">
            <div>
                <label class="lead" asp-for="User.Name">Имя:</label>
                <input class="form-control" type="text" asp-for="User.Name" value="@Model.User.Name" placeholder="Пример: Андрей" />
                <span asp-validation-for="User.Name" />
            </div>
            <div>
                <label class="lead" asp-for="User.Surname">Фамилия:</label>
                <input class="form-control" type="text" asp-for="User.Surname" value="@Model.User.Surname" placeholder="Пример: Иголкин" />
                <span asp-validation-for="User.Surname" />
            </div>
            <div>
                <label class="lead" asp-for="User.UserName">Кодовое имя:</label>
                <input class="form-control" type="text" asp-for="User.UserName" value="@Model.User.UserName" placeholder="Пример: Драгович" />
                <span asp-validation-for="User.UserName" />
            </div>
            <div>
                <label class="lead" asp-for="User.SecurRoleId">Должность:</label>
                <select asp-for="User.SecurRoleId" value="@Model.User.SecurRole.UserRole" class="custom-select">
                    @foreach (var roles in Model.Role)
                    {
                        <option value="@roles.Id">@roles.UserRole</option>
                    }
                </select>
            </div>
            <div>
                <label class="lead" asp-for="User.Email">Адрес электронной почты:</label>
                <input class="form-control" type="text" asp-for="User.Email" value="@Model.User.Email" placeholder="Пример: youraccount@gmail.com" />
                <span asp-validation-for="User.Email" />
            </div>
        <div>
            <p></p>
            <input type="hidden" name="userId" value="@Model.User.Id" />
            <input class="btn btn-outline-info" type="submit" value="Обновить"/>
        </div>
    </form>
</div>


