﻿@{
    ViewData["Title"] = "LogIn";
}
@model RegisterUser 

<div class="container">
    <h1 style="text-align: center">Вход</h1>
    <form method="post" asp-action="LogIn" asp-controller="Auth" asp-antiforgery="true">
            <div>
                <label class="lead" asp-for="Email">Адресс электронной почты:</label>
                <input class="form-control" type="text" asp-for="Email" placeholder="Пример: youtaccount@gmail.com"/>
                <span asp-validation-for="Email" />
            </div>
            <div>
                <label class="lead" asp-for="Password">Пароль: </label>
                <input class="form-control" type="text" asp-for="Password" placeholder="Пример: mYpaS$word11"/>
                <span asp-validation-for="Password" />
            </div>
        <div>
            <p></p>
            <input class="btn btn-outline-info" type="submit"/>
        </div>
    </form>
</div>
