﻿@using DevLogs.Core.Entities
@model ApplicationUser

<div>
    <h3 style="text-align: center"> Общая информация</h3>
    <div>
        <label class="lead" asp-for="Surname">Фамилия:</label> <p class="custom-control-inline"><strong> @Model.Surname</strong></p>
    </div>
    <div>
        <label class="lead" asp-for="Surname">Имя:</label> <p class="custom-control-inline"><strong> @Model.Name</strong></p>
    </div>
    <div>
        <label class="lead" asp-for="Surname">Кодовое имя:</label> <p class="custom-control-inline"><strong> @Model.UserName</strong></p>
    </div>
    <div>
        <label class="lead" asp-for="Surname">Электронная почта:</label> <p class="custom-control-inline"><strong> @Model.Email</strong></p>
    </div>
    @*<div>
        <label class="lead" asp-for="Surname">Должность:</label> <p class="custom-control-inline"><strong>@Model.SecurRole.UserRole</strong></p>
        </div>*@

    <div class="container text-center">
        <div>
            <h3 style="text-align: center"> Мои проекты</h3>
            @if (Model.Projects.Count == 0)
            {
                <p class="text-center">Вы пока что не задействоавны на каком либо проекте</p>
            }
            else
            {
                @foreach (var project in Model.Projects)
                {
                    <div class="custom-control-inline" style="padding-top:5px;">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title">@project.ShortName</h5>
                                </div>
                                <form method="get" asp-action="ProjectMenu" asp-controller="Project">
                                    <input type="hidden" name="@nameof(project.Id)" value="@project.Id" />
                                    <input class="btn btn-outline-info" type="submit" value="Меню проекта">
                                </form>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div>
            <h3 style="text-align: center"> Мои задачи</h3>

            @if (Model.Tasks.Count == 0)
            {
                <p class="text-center">У вас пока нет задача</p>
            }
            else
            {
                @foreach (var tasks in Model.Tasks)
                {
                    <div class="custom-control-inline" style="padding-top:5px;">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title">@tasks.Name</h5>
                                </div>
                                @tasks.Description
                                <div>
                                </div>
                                <form method="get" asp-action="ProjectMenu" asp-controller="Project">
                                    <input type="hidden" name="@nameof(tasks.Id)" value="@tasks.Id" />
                                    <input class="btn btn-outline-info" type="submit" value="Задание">
                                </form>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>