﻿@model RegisterUser

<div class="container">
    <h1 style="text-align: center">Регистрация нового пользователя</h1>
    <form method="post" asp-action="Register" asp-controller="Auth" asp-antiforgery="true">
        <div>
            <div>
                <label class="lead" asp-for="Name">Имя:</label>
                <input class="form-control" type="text" asp-for="Name" placeholder="Пример: Андрей" />
                <span asp-validation-for="Name" />
            </div>
            <div>
                <label class="lead" asp-for="Surname">Фамилия:</label>
                <input class="form-control" type="text" asp-for="Surname" placeholder="Пример: Иголкин" />
                <span asp-validation-for="Surname" />
            </div>
            <div>
                <label class="lead" asp-for="CodeName">Кодовое имя:</label>
                <input class="form-control" type="text" asp-for="CodeName" placeholder="Пример: IgolkinAA (обязательно на английском языке)" />
                <span asp-validation-for="CodeName" />
            </div>
            <div>
                <label class="lead" asp-for="RoleId">Должность:</label>
                <select asp-for="RoleId" class="custom-select">
                    @foreach (var roles in Model.Roles)
                    {
                        <option value="@roles.Id">@roles.UserRole</option>
                    }
                </select>
            </div>
            <div>
                <label class="lead" asp-for="Email">Адрес электронной почты:</label>
                <input class="form-control" type="text" asp-for="Email" placeholder="Пример: youraccount@gmail.com" />
                <span asp-validation-for="Email" />
            </div>
            <div>
                <label class="lead" asp-for="Password">Пароль: </label>
                <input class="form-control" type="text" asp-for="Password" placeholder="Пример: mYpaS$word11" />
                <span asp-validation-for="Password" />
            </div>
        </div>
        <div>
            <p></p>
            <input class="btn btn-outline-info" type="submit" value="Зарегистрировать"/>
        </div>
    </form>
</div>

