﻿@using DevLogs.Core.Entities
@model List<ApplicationUser>

<div class="container">
    <h1 style="text-align: center">Пользователи</h1>
    <form method="get" asp-action="Users" asp-controller="Auth" class="input-group mb-3" style="margin-left:auto;margin-right:0">
        <input class="form-control" name="email" type="search" placeholder="Поиск пользователя по Email адресу...">
        <input type="submit" class="btn btn-outline-info" />
    </form>
    @foreach (var user in Model)
    {
        <div>
            <div>
                <label class="lead d-inline" asp-for="@user.Name"><strong>Имя: </strong></label>
                <p class="lead d-inline">@user.Name</p>
            </div>
            <div>
                <label class="lead d-inline" asp-for="@user.Surname"><strong>Фамилия: </strong></label>
                <p class="lead d-inline">@user.Surname</p>
            </div>
            <div>
                <label class="lead d-inline" asp-for="@user.UserName"><strong>Кодовое имя пользователя: </strong></label>
                <p class="lead d-inline">@user.UserName</p>
            </div>
            @if (user.SecurRole != null)
            {
                <div>
                    <label class="lead d-inline" asp-for="@user.SecurRole.UserRole"><strong>Роль: </strong></label>
                    <p class="lead d-inline">@user.SecurRole.UserRole</p>
                </div>
            }
            <div>
                <label class="lead d-inline" asp-for="@user.Email"><strong>Адрес электронной почты: </strong></label>
                <p class="lead d-inline">@user.Email</p>
            </div>
        </div>
        <p></p>
    }
</div>