﻿@using DevLogs.Core.Entities
@model List<TaskEntity>

<div class="container">
    <h1 style="text-align: center">Задачи</h1>
    @if (Context.Request.Cookies["secur-lvl"] != "Low")
    {
        <form method="get" asp-action="CreateNewTask" asp-controller="Task">
            <input type="hidden" name="id" value="@ViewBag.Id" />
            <input class="btn btn-outline-warning" type="submit" value="Создать" />
        </form>
        <p></p>
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Обновить
                </th>
                <th>
                    Готово
                </th>
                <th scope="col">
                    Работники
                </th>
            </tr>
        </thead>
        @foreach (var task in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @task.Name
                    </td>
                    <td>
                        @task.Description
                    </td>
                    <td>
                        @if (Context.Request.Cookies["secur-lvl"] != "Low")
                        {
                            <form method="get" asp-action="UpdateTask" asp-controller="Task">
                                <input type="hidden" name="taskId" value="@task.Id" />
                                <input class="btn btn-outline-warning" type="submit" value="Обновить" />
                            </form>
                        }
                    </td>
                    <td>
                        @if (Context.Request.Cookies["secur-lvl"] != "Low")
                        {
                            <form method="post" asp-action="DeleteTask" asp-controller="Task">
                                <input type="hidden" name="taskId" value="@task.Id" />
                                <input class="btn btn-outline-info" type="submit" value="Закрыть" />
                            </form>
                        }
                    </td>
                    <td>
                        @if (Context.Request.Cookies["secur-lvl"] != "Low")
                        {
                            <form method="get" asp-action="AddUserToTask" asp-controller="Admin">
                                <input type="hidden" name="taskId" value="@task.Id" />
                                <input type="hidden" name="projectId" value="@ViewBag.Id" />
                                <input class="btn btn-outline-warning" type="submit" value="Назначить" />
                            </form>
                        }
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>