﻿@using DevLogs.Core.Entities
@model TaskEntity

<div>
    <h1 style="text-align: center">Обновить задачу</h1>

    <form method="post" asp-action="UpdateTask" asp-controller="Task">
        <div>
            <div>
                <label class="lead" asp-for="Name">Название</label>
                <input class="form-control" type="text" asp-for="Name" autocomplete="off" placeholder="GCS-123 Create models for query to database" />
                <span asp-validation-for="Name" />
            </div>
            <div>
                <label class="lead" asp-for="Description">Описание</label>
                <input class="form-control" type="text" asp-for="Description" autocomplete="off" placeholder="Create new model in 'Entities' folder" />
                <span asp-validation-for="Description" />
            </div>
            <div>
                <label class="lead" asp-for="Time">Время на выполнение задачи в часах</label>
                <input class="form-control" type="text" asp-for="Time" autocomplete="off" placeholder="8" />
                <span asp-validation-for="Time" />
            </div>
            <div>
                <label class="lead" asp-for="Status">Статус: </label>
                <select asp-for="Status" class="custom-select">
                    <option value="Активно">
                        Активна
                    </option>
                    <option value="Закончена">
                        Закончена
                    </option>
                </select>
            </div>
            <div>
                <label class="lead" asp-for="StartDate">Дата начала</label>
                <input class="form-control" type="text" asp-for="StartDate" autocomplete="off" placeholder="01.01.2022" />
                <span asp-validation-for="StartDate" />
            </div>
            <div>
                <label class="lead" asp-for="FinaleDate">Дата окончания</label>
                <input class="form-control" type="text" asp-for="FinaleDate" autocomplete="off" placeholder="02.01.2022" />
                <span asp-validation-for="FinaleDate" />
            </div>
        </div>
        <div>
            <p></p>
            <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
            <input type="hidden" name="@nameof(Model.ProjectId)" value="@Model.ProjectId" />
            <input class="btn btn-outline-info" type="submit" />
        </div>
    </form>
</div>